.badge {
  display: inline-flex;
  padding: 2px 8px;
  font-size: 0.75rem;
  font-weight: 500;
  border: 1px solid transparent;
  line-height: 1.25;
}

.red {
  background-color: var(--red-color);
  color: var(--light-red-color);
}
.blue {
  background-color: var(--blue-color);
  color: var(--light-blue-color);
}
.green {
  background-color: #ebfcf2;
  color: #007f5f;
  border-color: #c9f0d7;
}
.brown {
  background-color: var(--light-brown-color);
  color: var(--brown-color);
}
