// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Box {
  border: 1px solid rgba(255,255,255,0.5);
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 8px;
  background: rgba(0,0,0,0.5);
  color: #ffffff;
  font-weight: bold;

  box.ChatHeadFrame {
    border: 1px solid rgba(255,255,255,0.5);
    padding: 300px 20px;
    margin: 10px;
  }

  box.TitleFrame {
    padding: 10px 20px 10px;
    border: 1px solid rgba(255,255,255,0.5);
    margin: 10px 10px 0 0;
  }

  box.ChatFrame {
    border: 1px solid rgba(255,255,255,0.5);
    margin: 10px 10px 10px 0;
    padding: 20px 300px 900px 20px;
  }


  button {
    border-radius: 8px;
    margin: 2px;
  }
}
