// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Box {
  font-family: JetBrains Mono;
  border: 1px solid rgba(255,255,255,0.5);
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 8px;
  background: rgba(0,0,0,0.8);
  color: #ffffff;
  font-weight: bold;

// ChatHeadFrame
  box.ChatHead {
    border: 1px solid rgba(255,255,255,0.5);
    margin: 10px;
  }

  box.ChatHeadTitle {
    margin: 10px;
    font-size: x-large;
  }

  .house-icon {
    margin-right: 5px;
  }

  box.UpperSelection {
    margin-bottom: 200px;

  }

  box.UpperSelection, box.LowerSelection {
  }

  box.UpperSelection > box {
  }

  box.LowerSelection > box {
  }

  box.UpperSelection > box:hover, box.LowerSelection > box:hover {
    border-radius: 5px;
    background: #535353;
  }

//Avatar Frame and Additions
  box.AvatarFrame{
    border: 1px solid rgba(255,255,255,0.5);
  }

  box.Avatar {
    background: #404040;
    margin: 10px;
  }

  box.NameBoxes {
    margin: 10px;
  }

  box.Name {
  }


  box.AvatarPlaceholder {
    margin: 0 0 0 10px;
  }

  box.Logout, box.Add {
    margin: 0 10px 10px 10px;
    border: 1px solid rgba(255,255,255,0.5);
  }

  box.Logout:hover, box.Add:hover, box.AvatarFrame:hover {
    background: #535353;
  }

//Title Frame
  box.TitleFrame {
    color: #404040;
    border: 1px solid rgba(255,255,255,0.5);
    margin: 10px 10px 0 0;
  }

//ChatFrame
  box.ChatFrame {
    border: 1px solid rgba(255,255,255,0.5);
    margin: 10px 10px 10px 0;
  }

  box.Title {
    margin-top: 30px;
    font-size: xx-large;
  }

  box.SubTitle {
    font-size: large;
  }

  box.FirstCardColumn, box.SecondCardColumn {
    margin-top: 40px;
  }

  box.SecondCardColumn {
    margin-left: 10px;
  }

  box.FirstCard, box.SecondCard, box.ThirdCard {
    margin-top: 30px;
    border-radius: 5px;
    background: #383838;
  }

  box.FirstCard:hover, box.SecondCard:hover, box.ThirdCard:hover {
    background: #545454;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}
