// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}

window.Box {
  border: 1px solid rgba(255,255,255,0.5);
  padding-top: 950px;
  padding-right: 300px;
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 8px;
  background: rgba(0,0,0,0.5);
  color: #ffffff;
  font-weight: bold;

  > ChatHeadFrame {
    border-radius: 8px;
    margin: 2px;
  }

  > centerbox {
    background: transparent;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}
