:root {
  --primary-color: rgba(30, 30, 30, 1);
  --border-color: rgba(64, 64, 64, 1);
  --accent-color: rgba(53, 53, 53, 1);
  --accent-hover-color: rgba(83, 84, 84, 1);
  --text-color: rgba(151, 151, 151, 1);
  --lighter-text-color: rgba(189, 189, 189, 1);
}

#app {
  text-align: center;
}

#App {
  /* margin: 20px;
  border: 4px solid #333333; */
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

/* make this scalable soon */
#firstcolumn {
  padding: 20px 40px 150px 40px;
  margin: 15px;
}

#firstcolumn,
#Title,
#content,
#avatar {
  border: 4px solid var(--border-color);
}

#Title,
#content {
  margin: 15px 0px 15px 0;
}

#Title {
  padding: 10px 0 10px 10px;
  display: flex;
  justify-content: flex-start;
  color: var(--text-color);
}

#content {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 200px 75px 0;
}

.top-nav,
.bottom-nav {
  margin-top: 30px;
  text-align: left;
}

.bottom-nav {
  margin-top: 300px;
}

#nav-button {
  margin-bottom: 10px;
  padding: 0 10px 0 10px;
}

#nav-button:hover {
  background: var(--accent-hover-color);
}

.content-title {
  margin-top: 20px;
}

#Select {
  margin-top: 50px;
}

.result {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

.prompt {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

.input-box .btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  border: none;
  margin: 0 0 0 20px;
  padding: 0 8px;
  cursor: pointer;
}

.input-box .btn:hover {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #333333;
}

.input-box .input {
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: rgba(240, 240, 240, 1);
  -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

#OutputBox {
  margin-top: 200px;
  margin-bottom: 200px;
}
