@import url("style.css");

#app {
  text-align: center;
}

button,
input {
  font-family: var(--main-font);
}

h2 {
  margin-bottom: 0;
}
h3 {
  margin-top: 0;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

#firstcolumn-container {
  margin: 15px 10px 20px 20px;
}

#navi {
  padding: 20px 50px 0 50px;
}

#avatar {
  margin-top: 10px;
}

#navi,
#Title,
#avatar,
#user-input,
#home-content,
#Selector-container,
#Messenger-container,
#Multi-Messenger-Container,
#select-container,
#settings-content {
  border: 4px solid var(--border-color);
}

#home {
  margin: 15px 15px 0 0;
}

#Title,
#content {
  margin: 15px 0px 10px 0;
}

#Title {
  padding: 10px 0 10px 10px;
  display: flex;
  justify-content: flex-start;
  color: var(--text-color);
}

#home-content {
  padding: 0 50px 20px 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* SETTINGS STUFF HERE*/

#settings-content {
  padding: 0 50px 20px 50px;
  display: flex;
  flex-flow: column nowrap;
}

.settings-section-title,
.smol {
  display: flex;
  justify-self: flex-start;
}

.smol {
  font-size: 15px;
}

#pref {
  display: flex;
  flex-flow: row wrap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-left: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent-hover-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-hover-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#save-button {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}

.top-nav,
.bottom-nav {
  display: flex;
  flex-flow: column wrap;
}

.top-nav,
.bottom-nav {
  margin-top: 30px;
  text-align: left;
}

.bottom-nav {
  margin-top: 300px;
}

.nav-button {
  background-color: transparent;
  border-color: transparent;
  color: white;
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px 0 18px;
}

.nav-button::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 130%;
  background: var(--vert-bar);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.nav-button:hover,
.card:hover {
  border-radius: 2px;
  background: var(--accent-hover-color);
}

.nav-button:hover::before {
  opacity: 1;
}

#nav-settings {
  max-width: 25px;
  max-height: 25px;
}

/* History Content Cards here */
#content-cards {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 30px;
}

.History-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 60vh;
  height: 65vh;
}

.history-smol {
  font-size: 15px;
  display: flex;
  justify-self: center;
}

.card {
  border-radius: 2px;
  padding: 25px;
  background: var(--accent-color);
  color: white;
  border: transparent;
}

.content-title {
  margin: 20px 0 15px 0;
}

#Selector-container {
  margin-bottom: 10px;
}

.prompt {
  height: 20px;
  line-height: 20px;
  margin: 1.5rem auto;
}

#user-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-box .btn {
  width: 60px;
  height: 30px;
  line-height: 30px;
  border: none;
  padding: 20px 8px;
  cursor: pointer;
  color: white;
  background: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
}

.input-box .btn:hover {
  background-color: var(--accent-hover-color);
}

.input-box .input {
  flex-grow: 2;
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  line-height: 30px;
  background-color: var(--primary-color-darker);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

.input-box .input:focus {
  border: none;
  background-color: var(--primary-color-darker);
}

/* Settings stuff here */
#ai-models {
  display: flex;
  column-gap: 50px;
}

#first-column,
#second-column {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 10px;
}

.agent {
  display: flex;
  column-gap: 10px;
}

.agent-image img {
  width: 50px;
  height: 50px;
  background-color: var(--lighter-accent-color);
}

.agent-text {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.agent-text a:visited,
a:link,
a:link:active,
a:visited:active {
  color: white;
  text-decoration: none;
}

.agent-text a:link:hover,
a:link:active:hover,
a:visited:active:hover,
a:visited:hover {
  color: var(--text-color);
}

.api-key {
  border: none;
  outline: none;
  height: 30px;
  line-height: 30px;
  background-color: var(--border-color);
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

/* AISelectionScreen stuff here */
#selection-row {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

#multi-agent-button {
  margin-bottom: 8px;
  background-color: var(--primary-color-darker);
  border: 4px solid var(--border-color);
  font-size: medium;
}

#multi-agent-button:hover {
  background-color: var(--accent-color);
}

#OutputBox {
  display: flex;
  flex-flow: column wrap;
  margin-top: 65px;
  margin-bottom: 200px;
}

/*Multi Agent stuff here*/
#Multi-mcontainer {
  display: flex;
  max-width: 780px;
  gap: 5px;
}

#Multi-Messenger-Container {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-basis: 66.667%;
  height: 70vh;
  width: 40vh;
  display: flex;
}

#Multi-Selector-container {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
}

#Messenger-container {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex-basis: 66.667%;
  height: 70vh;
  width: 70vh;
}

#user-prompt-container {
  align-self: flex-end;
}

#user-prompt-container img,
#ai-response img {
  height: 50px;
  width: 50px;
  background-color: var(--primary-color-lighter);
}

#user-prompt-container,
#ai-response {
  display: flex;
  background-color: var(--accent-color);
  margin: 20px;
}

#user-prompt-container .text,
#ai-response .text {
  margin: 20px;
}

#ai-response {
  align-self: flex-start;
}
